.apps {
    padding: 102px 0;
    background: #495567;
    overflow: hidden;
    position: relative;
}

.apps__wrap {
    position: absolute;
    bottom: -160px;
    left: 450px;
}

.apps__circle {
    display: block;
    width: 347px;
    height: 347px;
    mix-blend-mode: normal;
    opacity: 0.1;
    border: 15px solid #E5ECF4;
    border-radius: 50%;
}

.apps__circle + .apps__circle {
    margin-left: 56px;
}

.apps__circle-three {
    background-color: #E5ECF4;
    opacity: 0.1;
}

.apps__text {
    width: 100%;
    max-width: 415px;
}

.apps__title {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #FFFFFF;
}

@include media(768px) {
    .apps__text {
        margin: 0 auto;
    }
    
    .app {
        margin: 0 auto;
        margin-top: 40px; 
    }
    
    .apps__title {
        text-align: center;
    }
    
    
    .apps__wrap {
        position: absolute;
        bottom: -160px;
        left: -100px;
    }
}

@include media(576px) {
    .apps__title {
        font-size: 32px;
        line-height: 32px;
    }
    
    
}

@include media(392px) {
    .app__img {
        width: 113px;
        height: 40px;
    }
}