.apps {
    padding: 82px 0;
    background: #495567;
}

.apps__text {
    width: 100%;
    max-width: 415px;
}

.apps__title {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #FFFFFF;
}

// .apps {
//     display: block;
//     margin-left: auto;
// }