.site-footer {
    z-index: 999;
    padding: 32px 0;
    background: #333A44;
}

.site-footer__icon + .site-footer__icon {
    margin-left: 24px;
}
.nav-item + .nav-item {
    margin-left: 24px;
}

.site-footer__icons {
    justify-content: end;
}

@include media(576px) {
    .site-footer__icons {
        display: block;
        margin: 0 auto;
        margin-top: 41px;
        justify-content: center;
    }
    
    .site-footer__navs {
        flex-direction: column;
    }
    
    .site-footer__nav {
        margin: 0 auto;
        margin-top: 41px;
        display: block;
    }
}