.site-footer {
    background: #F3F3F3;
    border: 1px solid #EBEBEB;
}

.site-footer__inner {
    padding: 61px 0 19px;
}

.site-footer__list {
    @include flex($align: start);
    @include util;
}

.site-footer__link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
    transition: all .4s ease;

    &:hover {
        color: #FFBD54;
    }

    &:active {
        color: rgba(51, 51, 51, 0.7);
    }
}

.site-footer__link + .site-footer__link {
    margin-top: 14px;
}

.site-footer__phone {
    display: block;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #333333;
    text-decoration: none;
    transition: all .4s ease;

    &:hover {
        color: #FFBD54;
    }
    
    &:active {
        color: #333333;
        opacity: 0.6;
    }
    
}

.site-footer__date {
    margin: 0;
    display: block;
}

.site-footer__item:nth-child(4) {
    display: inline-flex;
    align-items: flex-start;
    &::before {
        content: "";
        margin-right: 14px;
        margin-top: 4px;
        width: 16px;
        height: 16px;
        display: inline-block;
        background-image: url('../../images/header-calendar.svg');
        background-repeat: no-repeat;
    }
}

.site-footer__item:nth-child(5) {
    display: flex;
    
    &::before {
        content: "";
        margin-right: 14px;
        margin-top: 4px;
        width: 16px;
        height: 16px;
        display: inline-block;
        background-image: url('../../images/header-home.svg');
        background-repeat: no-repeat;
    }
}

.site-footer__item:nth-child(6) {
    display: inline-flex;
    align-items: flex-start;
    &::before {
        content: "";
        margin-right: 14px;
        margin-top: 4px;
        width: 16px;
        height: 16px;
        display: inline-block;
        background-image: url('../../images/header-phone.svg');
        background-repeat: no-repeat;
    }
}

.site-footer__copy {
    margin-top: 63px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: end;
    text-align: right;
    color: #5C5C5C;
}

.footer_logo {
    &:hover {
        opacity: .8;
    }

    &:active {
        opacity: .6;
    }
}