.nav__link {
    padding: 14px 39px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.nav-link {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}

.menu__burger {
    display: none;
}

@include media(768px) {
    .nav-item + .nav-item {
        margin-left: 28px;
    }

    .nav__link {
        padding: 12px 37px;
    }
}

@include media(576px) {
    .sitenav {
        display: none;
    }

    .header__nav {
        display: none;
    }

    .navbar-brand {
        margin: 0 auto;
    }

    .menu__burger {
        display: block;
    }

    .ovals {
        display: none;
    }

    .desc__before {
        display: none;
    }

    .hero__desc {
        text-align: center;
    }

  
}