.site-header {
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    z-index: 555;
}

.site-header__top {
    width: 100%;
    background: #F9F8F8;
}

.top__content {
    @include flex;
    width: 100%;
    max-width: 1117px;
    margin-left: auto;
    position: relative;
    z-index: 999;
}

.top__date {
    @include flex;
}

.top__address {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #333333;
    
    &::before {
        content: "";
        margin-right: 9px;
        display: block;
        width: 14px;
        height: 14px;
        background-image: url("../../images/header-home.svg");
    }
}

.top__numbers {
    display: flex;
}

.top__tell {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all .4s ease;
    
    &:hover {
        color: #FFBD54;
    }
    
    &:active {
        color: #333333;
        opacity: 0.6;
    }
    
    &::before {
        content: "";
        margin-right: 9px;
        display: block;
        width: 13px;
        height: 13px;
        background-image: url("../../images/header-phone.svg");
    }
    
    &:nth-child(2)::before {
        margin-right: 9px;
        width: 4px;
        height: 4px;
        background-image: url("../../images/header-phone.svg");
    }
    
    &:nth-child(3)::before {
        margin-right: 9px;
        width: 4px;
        height: 4px;
        background-image: url("../../images/header-phone.svg");
    }
}

.top__tell + .top__tell {
    margin-left: 10px;
}

.top__date {
    &::before {
        content: "";
        margin-right: 9px;
        display: block;
        width: 14px;
        height: 14px;
        background-image: url("../../images/header-calendar.svg");
    }
}

.top__week {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #333333;
}

.top__week + .top__week {
    margin-left: 17px;
}

.site-header__wrap {
    @include flex;
    padding: 20px 0;
}

.content__logo {
    position: absolute;
    top: 32px;
    transition: all .4s ease;

    &:hover {
        opacity: .8;
    }

    &:active {
        opacity: .6;
    }
}

.sitenav {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
}

.sitenav__list {
    @include flex($justify:null);
    @include util;
}

.sitenav__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
    border-bottom:4px solid transparent ;
    transition: all .3s ease;
    
    &:hover {
        border-bottom: 4px solid #F4FFAD;
    }
    
    &:active {
        border-bottom: 4px solid #F4FFAD;
        color: #333333;
        opacity: 0.6;
    }
}

.sitenav__item + .sitenav__item {
    margin-left: 55px;
}

.sitenav__link-fish {
    display: flex;
    &::before {
        margin-right: 12px;
        content: "";
        width: 20px;
        height: 14px;
        display: block;
        background-image: url('../../images/header-fish.svg');
    }
}

.sitenav__request {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #333333;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition: all .4s ease;
    
    &:hover {
        border-bottom: 4px solid #F4FFAD;
    }
    
    &:active {
        border-bottom: 4px solid #F4FFAD;
        color: #333333;
        opacity: 0.6;
    }

    &::before {
        margin-right: 12px;
        content: "";
        width: 27px;
        height: 27px;
        display: block;
        background-image: url('../../images/header-pet.svg');
    }
}