.hero__inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 170px 0;
    background-image: url("../../images/header-bg.jpg");
    background-size: cover;
    background-position: center;
}

.ovals {
    z-index: 99;
    right: 0;
    bottom: 60px;
    position: relative;
}

.oval__img + .oval__img {
    margin-left: 24px;
}

.hero__content {
    position: relative;
}

.hero__intro {
    width: 100%;
    max-width: 500px;
}

.hero__text {
    width: 100%;
    max-width: 405px;
    margin-left: 125px;
}

.hero__title {
    margin: 0;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
}

.hero__desc {
    margin: 40px 0;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    
}

.desc__before {
    left: -110px;
    top: calc(53%);
}

.desc__after {
    left: calc(50%);
    top: calc(55%);
}

.hero__link {
    padding: 14px 39px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

@include media(768px) {
    .hero__inner {
        background-image: url("../../images/hero-bg-tablet.jpg");
    }

    .desc__after {
        left: calc(-25%);
        top: calc(95%);
    }

    .hero__link {
        width: 100%;
        max-width: 200px;
        display: block;
        margin: 0 auto;
    }

    .ovals {
        z-index: 99;
        right: 0;
        bottom: calc(-25%);
        position: relative;
    }
}

@include media(576px) {
    .hero__inner {
        background-image: url("../../images/hero-bg-mobile.jpg");
    }

    .hero__text {
        margin-left: 0;
    }

    .desc__after {
        left: calc(-60%);
        top: calc(95%);
    }

}

@include media(515px) {
    .desc__after {
        left: calc(-70%);
    }
}

@include media(444px) {
    .desc__after {
        left: calc(-80%);
    }
}

@include media(388px) {
    .desc__after {
        left: calc(-100%);
    }
}