.hero {
    position: relative;
    top: -80px;
    background-image: url('../../images/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
}

.hero__inner {
    padding: 153px 0 311px;
    margin-right: 38px;
    width: 100%;
    max-width: 608px;
    margin-left: auto;
}

.hero__title {
    margin: 0;
    margin-bottom: 29px;
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: #333333;
    
    span {
        color: #78C0DE;
    }
}

.hero__text {
    width: 100%;
    max-width: 500px;
}

.hero__desc {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #949494;
}

.hero__link {
    margin-top: 53px;
    display: inline-block;
    padding: 15px  48px;
    background: #333333;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all .4s ease;


    &:hover {
        background: #FFBD54;
        color: #333333;
    }

    &:active {
        opacity: .6;
        background: #FFBD54;
    }
}