.news {
    padding: 150px 0 200px;
    overflow: hidden;
    position: relative;
}

.news__title {
    margin: 0;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
}

.top__row {
    &::after {
        content: "";
        display: block;
        width: 80px;
        height: 445px;
        top: calc(7%);
        right: 0;
        z-index: 99;
        position: absolute;
        background-image: url('../../images/service-right-bg.png');
        background-repeat: no-repeat;
    }
}

.center__row {
    flex-direction: row-reverse;
    &::before {
        content: "";
        display: block;
        width: 100px;
        height: 445px;
        left: -10px;
        z-index: 99;
        position: absolute;
        background-image: url('../../images/service-left-bg.png');
        background-repeat: no-repeat;
    }
}

.bottom__row {
    &::after {
        content: "";
        display: block;
        width: 80px;
        height: 445px;
        top: calc(65%);
        right: 0;
        z-index: 99;
        position: absolute;
        background-image: url('../../images/service-right-bg.png');
        background-repeat: no-repeat;
    }
}

.news__desc {
    margin: 24px 0 40px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}

.news__img {
    border-radius: 50%;
    display: block;
    margin-left: auto; 
}

.news__img-two {
    margin-left: 0;
}

.news__img-arrow {
    top: calc(60%);
    right: -100px;
    z-index: 9999;
}

.news__img-left {
    top: calc(0);
    right: calc(55%);
    z-index: 9999;
}

.news__img-right {
    top: calc(15%);
    left: calc(55%);
    z-index: 9999;
}

@include media(768px) {
    .top__row {
        flex-direction: column-reverse;
    }
    
    .center__row {
        flex-direction: column-reverse;
    }
    
    .bottom__row {
        flex-direction: column-reverse;
    }
    
    .top__col {
        width: 100%;
        max-width: 573px;
    }
    
    .center__col {
        width: 100%;
        max-width: 573px;
    }
    
    .bottom__col {
        width: 100%;
        max-width: 573px;
    }
    
    .news__title {
        margin-top: 56px;
        text-align: center;
    }
    
    .news__desc {
        text-align: center;
    }
    
    .news__img-arrow {
        top: calc(60%);
        right: 0px;
        z-index: 9999;
    }
    
    .news__img {
        border-radius: 50%;
        display: block;
        margin-left: 0; 
    }
    
}

@include media(576px) {
    .top__row {
        &::after {
            display: none;
        }
    }
    
    .center__row {
        
        &::before {
            display: none;
        }
    }
    
    .bottom__row {
        &::after {
            display: none;
        }
    }
    
    .news__img {
        background-size: 100%;
        width: 311px;
        height: 295px;
        margin: 0 auto;
    }
    
    .news__title {
        margin-top: 56px;
        font-size: 32px;
        line-height: 32px;
    }
}
