.services {
    position: relative;
}

.services__inner {
    padding: 160px 0 147px;
}

.services__img {
    width: 96px;
    height: 96px;
    padding: 24px 24px;
    background: #FCB72B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__title {
    margin: 40px 0 27px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
}

.services__desc {
    margin: 0;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}

.services__line {
    content: "";
    display: block;
    width: 100%;
    max-width: 974px;
    position: absolute;
    left: 0;
    top: calc(33%);
    height: 1px;
    border: 15px solid #E5ECF4;
    z-index: -1;
}