.services__inner {
    width: 100%;
    max-width: 1223px;
    margin: 0 auto;
}

.services__title {
    margin: 0;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #333333;
}

.services__list {
    @include flex;
    @include util;
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        left: -40px;
        width: 14px;
        height: 25px;
        display: block;
        background-image: url('../../images/arrow-left.svg');
        background-repeat: no-repeat;
        cursor: pointer;
        transition: all .4s ease;

        &:hover {
            opacity: .3;
        }
    }
    
    &::after {
        content: "";
        position: absolute;
        right: -40px;
        width: 14px;
        height: 25px;
        display: block;
        background-image: url('../../images/arrow-right.svg');
        background-repeat: no-repeat;
        cursor: pointer;
    }
}



.services__item {
    width: 100%;
    max-width: 193px;
    min-height: 250px;
    padding: 30px 32px 42px 32px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    cursor: pointer;
    transition: all .4s ease;

    &:hover {
        opacity: .8;
    }

    &:active {
        opacity: .6;
    }
}

.item__wrap {
    max-width: 126px;
}

.item__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: block;
    align-items: center;
    text-align: center;
    color: #333333;
    
    
    &::before {
        content: "";
        display: block;
        margin: 0 auto;
        margin-bottom: 21px;
        width: 54px;
        height: 77px;
        background-image: url('../../images/service-1.svg');
    }
}

.item__two {
    &::before {
        width: 61px;
        background-image: url('../../images/service-2.svg');
    }
}
.item__three {
    &::before {
        width: 72px;
        background-image: url('../../images/service-3.svg');
    }
}
.item__four {
    &::before {
        width: 75px;
        background-image: url('../../images/service-4.svg');
    }
}
.item__five {
    &::before {
        width: 78px;
        background-image: url('../../images/service-5.svg');
    }
}
.item__six {
    &::before {
        width: 75px;
        background-image: url('../../images/service-6.svg');
    }
}

.services__check {
    padding: 41px 105px 235px 8px;
    @include flex;
    margin: 0 auto;
}

.check__inner {
    width: 100%;
    max-width: 492px;
}

.check__title {
    margin: 0;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.check__desc {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.check__buttons {
    @include flex($justify:null);
}

.check__btn {
    margin-top: 34px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.check__btn-left {
    width: 100%;
    max-width: 185px;
    padding: 15px 35px;
    background: #FFBD54;
    display: flex;
    align-items: center;
    transition: all .4s ease;

    &:hover {
        background: #333333;
        color: #FFBD54;
    }

    &:active {
        opacity: .6;
        background: #333333;
        color: #FFBD54;
    }

    &::before {
        content: "";
        margin-right: 6px;
        width: 21px;
        height: 21px;
        display: inline-block;
        background-image: url('../../images/icon-1.svg');
    }
}

.check__btn-right {
    width: 100%;
    max-width: 241px;
    margin-left: 21px;
    padding: 15px 37px;
    background: #333333;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    &:hover {
        background: #FFBD54;
        color: #333333;
    }

    &:active {
        opacity: .6;
        background: #FFBD54;
    }
  
    &::before {
        content: "";
        margin-right: 6px;
        width: 21px;
        height: 21px;
        display: inline-block;
        background-image: url('../../images/icon-2.svg');
    }
}