.subscribe {
    background-image: url('../../images/events-bg.png');
    background-size: 100%;
    background-position: center;
}

.subscribe__inner {
    padding: 90px 60px 90px 287px;
    position: relative;
}

.subscribe__content {
    position: absolute;
    width: 613px;
    height: 481px;
    top: -130px;
    right: 0;
    background-image: url('../../images/events.png');
    background-repeat: no-repeat;
    background-size: 100%;
    // background-position: right;
}

.subscribe__title {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.subscribe__form {
    margin-top: 32px;
}

.form__input {
    padding: 18px 0 12px 22px;
    width: 100%;
    max-width: 335px;
    outline: none;
    border: 2px solid transparent;
    background: #FFFFFF;
    border-radius: 5px;
}

.form__input::placeholder {
    border: 1px solid transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #949494;
}

.form__input:focus {
    background: #FFFFFF;
    border: 2px solid #FFBD54;
    border-radius: 5px;
}



.form__btn {
    margin-left: 21px;
    padding: 14px 53px 14px 52px;
    border: none;
    background: #333333;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    transition:  all .4s ease;
    cursor: pointer;
    
    &:hover {
        background: #FFBD54;
        color: #333333;
    }
    
    &:active {
        opacity: .6;
        background: #FFBD54;
    }
}